body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.container body-content {
    height: auto;
}

img {
    width: 300px;
    height: auto;
}

.recipies {
    padding-top: 15px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    column-gap: 40px;
    position: center;
}

.star-rating {
    width: 100px;
    height: auto;
    background-color: #EFF7E0;
}

table#table_color {
    display: inline-block;
    width: 300px;
    height: auto;
    padding: 5px;
    background-color: #EFF7E0;
}

#model_table {
    color: #337AB7;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    word-wrap: break-word;
    background-color: #EFF7E0;
}

#model_ing {
    font-size: 14px;
    text-align: right;
    background-color: #EFF7E0;
    display: inline-table;
    padding-left: 5em;
}

.table {
    padding-top: 15px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
}

#table_name {
    grid-column-gap: 0;
    width: 300px;
    padding: 0;
    text-align: center;
    white-space: nowrap;
    display: grid;
  
}

    #table_name tr:nth-child(odd) {
        background-color: #EFF7E0;
        width: 300px;
        white-space: nowrap;
        grid-column: span 4/ end;
    }

#label {
    display: grid;
    font-weight: bold;
    text-align: left;
    padding-top: 100%;
    grid-row: 1 / span 2;
}

#table_name {
    width: auto;
    height: auto;
    grid-row-start: 1;
    grid-row-end: 4;
   
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.detail {
    display: grid;
    grid-template-columns: auto auto 200px 100px;
    grid-gap: 1em;
}
    .detail#pic:nth-of-type(1) {
        position:absolute;
        order: 1;
    }

    .detail#nextToPic:nth-of-type(3) {
        position: absolute;
        order: 2;
    }

    .detail#info:nth-of-type(2) {
        position: absolute;
        order: 3;
    }

   
#info{
    grid-column: span 3/auto;
}   

#nextToPic {
    text-align: left;   
}

.name {
    font-size: x-large;
}

.big {
    font-size: larger;
    padding-top: 15px;
}
    


